<?xml version="1.0"?>

<launch>
  <arg name="name" default="bebop"/>
  <arg name="tf_prefix" default="$(arg name)"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.031"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="model" value="$(find bebopS)/urdf/bebop.urdf_only_odometry_sensor.xacro" />

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro --inorder '$(arg model)'
    enable_ground_truth:='$(arg enable_ground_truth)'
    namespace:=$(arg name)
    "
  />
  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
   args="-param robot_description
         -urdf
         -x $(arg x)
         -y $(arg y)
         -z $(arg z)
         -model $(arg name)"
   respawn="false" output="screen" >
  </node>

</launch>
