<?xml version="1.0"?>

<launch>
  <arg name="name" default="bebop"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="ip" default="192.168.42.1" />            <!-- IPv4 address of your drone -->
  <arg name="drone_type" default="bebop2" />          <!-- available drone types: bebop1, bebop2 -->
  <arg name="config_file" default="$(find bebop_simulator)/config/defaults.yaml" />
  <arg name="camera_info_url" default="package://bebop_simulator/data/$(arg drone_type)_camera_calib.yaml" />
  
    <!-- Launch the controller  -->
    <node name="position_controller_node" pkg="bebop_simulator" type="position_controller_node" output="screen"> 
      <rosparam command="load" file="$(find bebop_simulator)/resource/controller_bebop.yaml" />
      <rosparam command="load" file="$(find bebop_simulator)/resource/bebop.yaml" />
      <rosparam command="load" file="$(find bebop_simulator)/resource/EKF_matrix.yaml" />
      <param name="use_sim_time" value="$(arg use_sim_time)" />
      <remap from="/odometry" to="/bebop/odometry" />
      <remap from="/command/trajectory" to="/bebop/command/trajectory" />
      <remap from="/filteredOutput" to="/bebop/filteredOutput" />
      <remap from="/referenceAngles" to="/bebop/referenceAngles" />
      <remap from="/smoothedTrajectory" to="/bebop/smoothedTrajectory" />
      <remap from="/command/trajectory" to="/bebop/command/trajectory" />
    </node>

   <group ns="$(arg name)">

    <!-- Launch the trajectory generator -->
       <node name="waypoint_example" pkg="bebop_simulator" type="waypoint_example" output="screen" args="$(find bebop_simulator)/resource/waypoints.txt"/>   
    </group>

     <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen">
        <param name="camera_info_url" value="$(arg camera_info_url)" />
        <param name="bebop_ip" value="$(arg ip)" />
        <rosparam command="load" file="$(arg config_file)" />
     </node>

     <param name="robot_description" command="$(find xacro)/xacro $(find bebop_description)/urdf/bebop_base.urdf.xacro"/>
     <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

   </group>


    <!-- Launch the trajectory plot -->
    <node name="position_plot" pkg="rqt_plot" type="rqt_plot" args="--clear-config /$(arg name)/odometry/pose/pose/position" output="screen" />

    <node name="quaternion_to_rpy" pkg="bebop_simulator" type="quaternion_to_rpy" output="screen" >
       <remap from="/odometry" to="/bebop/odometry" />
       <remap from="/orientation_rpy" to="/bebop/orientation_rpy" />
    </node>
    <node name="orientation_plot" pkg="rqt_plot" type="rqt_plot" args="--clear-config /$(arg name)/orientation_rpy" output="screen" />

    <!-- Launch the reference angles plot -->
    <node name="reference_angles_plot" pkg="rqt_plot" type="rqt_plot" args="--clear-config /$(arg name)/referenceAngles/pose/pose/position" output="screen" />
    <node name="uXY_plot" pkg="rqt_plot" type="rqt_plot" args="--clear-config /$(arg name)/referenceAngles/twist/twist/linear" output="screen" />

    <!-- Launch the smoothed trajectory plot -->
    <node name="smoothed_plot" pkg="rqt_plot" type="rqt_plot" args="--clear-config /$(arg name)/smoothedTrajectory/pose/pose/position" output="screen" />


</launch>
