<?xml version="1.0"?>

<launch>
    
    <!-- Launch UAV-->
    <include file="$(find bebopS)/launch/gazebo_bebop.launch">
    	<arg name="wind_force" value="0.0"/>
    </include>
    <!-- Spawn wind turbine -->
    <include file="$(find bebopS)/launch/spawn_wind_turbine.launch"/>
    <!-- Start wind turbine control -->
    <include file="$(find bebopS)/launch/wind_turbine_control.launch"/>

</launch>
