<?xml version="1.0"?>
<launch>
  <arg name="name" default="bebop"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="ip" default="192.168.42.1" />            <!-- IPv4 address of your drone -->
  <arg name="drone_type" default="bebop2" />          <!-- available drone types: bebop1, bebop2 -->
  <arg name="config_file" default="$(find teamsannio_med_control)/config/defaults.yaml" />
  <arg name="camera_info_url" default="package://teamsannio_med_control/data/$(arg drone_type)_camera_calib.yaml" />
  
   <!-- Launch the trajectory generator -->
   <group ns="$(arg name)">
     <!-- Launch the controller  -->
     <node name="position_controller_node_with_bebop" pkg="teamsannio_med_control" type="position_controller_node_with_bebop" output="screen"> 
       <rosparam command="load" file="$(find teamsannio_med_control)/resource/controller_bebop.yaml" />
       <rosparam command="load" file="$(find teamsannio_med_control)/resource/bebop.yaml" />
       <param name="use_sim_time" value="$(arg use_sim_time)" />
       <remap from="/command/trajectory" to="/bebop/command/trajectory" />
     </node>

     <node name="hovering_example" pkg="rotors_gazebo" type="hovering_example" output="screen"/> 

     <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen">
        <param name="camera_info_url" value="$(arg camera_info_url)" />
        <param name="bebop_ip" value="$(arg ip)" />
        <rosparam command="load" file="$(arg config_file)" />
     </node>

     <param name="robot_description" command="$(find xacro)/xacro $(find bebop_description)/urdf/bebop_base.urdf.xacro"/>
     <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

   </group>

</launch>

